@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Montserrat:400,700|Poppins|Space+Mono:400,400i,700,700i);
@import url(https://fontlibrary.org/face/segment7);
@font-face {font-family: "Google Sans"; font-weight: normal; font-style: normal; src: url("//db.onlinewebfonts.com/t/000be6a5acfcd4e4a425e9f1bb6c80f0.eot"); src: url("//db.onlinewebfonts.com/t/000be6a5acfcd4e4a425e9f1bb6c80f0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/000be6a5acfcd4e4a425e9f1bb6c80f0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/000be6a5acfcd4e4a425e9f1bb6c80f0.woff") format("woff"), url("//db.onlinewebfonts.com/t/000be6a5acfcd4e4a425e9f1bb6c80f0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/000be6a5acfcd4e4a425e9f1bb6c80f0.svg#Google Sans") format("svg"); }
@font-face {font-family: "Google Sans"; font-weight: normal; font-style: italic; src: url("//db.onlinewebfonts.com/t/69b6dafcd18436d717d1c4a71c4eb6b1.eot"); src: url("//db.onlinewebfonts.com/t/69b6dafcd18436d717d1c4a71c4eb6b1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/69b6dafcd18436d717d1c4a71c4eb6b1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/69b6dafcd18436d717d1c4a71c4eb6b1.woff") format("woff"), url("//db.onlinewebfonts.com/t/69b6dafcd18436d717d1c4a71c4eb6b1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/69b6dafcd18436d717d1c4a71c4eb6b1.svg#Google Sans") format("svg"); }
@font-face {font-family: "Google Sans"; font-weight: 500; font-style: normal; src: url("//db.onlinewebfonts.com/t/0e3f1c9efebea39cb811fbb86c2fc53f.eot"); src: url("//db.onlinewebfonts.com/t/0e3f1c9efebea39cb811fbb86c2fc53f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0e3f1c9efebea39cb811fbb86c2fc53f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0e3f1c9efebea39cb811fbb86c2fc53f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0e3f1c9efebea39cb811fbb86c2fc53f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0e3f1c9efebea39cb811fbb86c2fc53f.svg#Google Sans Medium") format("svg"); }
@font-face {font-family: "Google Sans"; font-weight: 500; font-style: italic; src: url("//db.onlinewebfonts.com/t/d2e7466051a55d11378042f258e951c1.eot"); src: url("//db.onlinewebfonts.com/t/d2e7466051a55d11378042f258e951c1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d2e7466051a55d11378042f258e951c1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d2e7466051a55d11378042f258e951c1.woff") format("woff"), url("//db.onlinewebfonts.com/t/d2e7466051a55d11378042f258e951c1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d2e7466051a55d11378042f258e951c1.svg#Google Sans Medium") format("svg"); }
@font-face {font-family: "Google Sans"; font-weight: bold; font-style: normal; src: url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.eot"); src: url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.woff") format("woff"), url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.svg#Google Sans") format("svg"); }
@font-face {font-family: "Google Sans"; font-weight: bold; font-style: italic; src: url("//db.onlinewebfonts.com/t/b51a2098e785c5323cb72f371ca0cde7.eot"); src: url("//db.onlinewebfonts.com/t/b51a2098e785c5323cb72f371ca0cde7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b51a2098e785c5323cb72f371ca0cde7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b51a2098e785c5323cb72f371ca0cde7.woff") format("woff"), url("//db.onlinewebfonts.com/t/b51a2098e785c5323cb72f371ca0cde7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b51a2098e785c5323cb72f371ca0cde7.svg#Google Sans") format("svg"); }
@font-face {font-family: "Google Sans Text"; font-weight: normal; font-style: normal; src: url("//db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot"); src: url("//db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff") format("woff"), url("//db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text") format("svg"); }
@font-face {font-family: "Google Sans Text"; font-weight: bold; font-style: normal; src: url("//db.onlinewebfonts.com/t/6a8dc683d1b4db924a75e5a0e3ed8410.eot"); src: url("//db.onlinewebfonts.com/t/6a8dc683d1b4db924a75e5a0e3ed8410.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6a8dc683d1b4db924a75e5a0e3ed8410.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6a8dc683d1b4db924a75e5a0e3ed8410.woff") format("woff"), url("//db.onlinewebfonts.com/t/6a8dc683d1b4db924a75e5a0e3ed8410.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6a8dc683d1b4db924a75e5a0e3ed8410.svg#Google Sans Text Medium") format("svg"); }


* {
  padding: 0;
  margin: 0;
  user-select: none;
}
img {
  border: 0;
}
li {
  list-style: none;
}
body {
  background-color: #f5deb3;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  perspective: 2000px;
}
.header {
  position: relative;
  width: 900px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
}
.header .title {
  float: left;
}
.tion1 {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; /* Firefox 4 */
  -webkit-transition: all 0.5s ease; /* Safari 和 Chrome */
  -o-transition: all 0.5s ease; /* Opera */
}
.tion1 * {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; /* Firefox 4 */
  -webkit-transition: all 0.5s ease; /* Safari & Chrome */
  -o-transition: all 0.5s ease; /* Opera */
}
/* Tile styling */
.ul {
  height: 100px;
  width: 100px;
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
  left: 0px;
  top: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-8deg) rotateY(8deg);
  transform: rotateX(-8deg) rotateY(8deg);
}
.li {
  width: inherit;
  height: inherit;
  position: absolute;
  text-align: center;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.5);
  line-height: 100px;
  font-size: 38px;
  color: #fff;
  border: 3px rgba(255, 255, 255, 1) solid;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}
.li1 {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}
.li2 {
  -webkit-transform: rotateX(270deg) translateZ(50px);
  transform: rotateX(270deg) translateZ(50px);
}
.li3 {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px);
}
.li4 {
  -webkit-transform: rotateY(270deg) translateZ(50px);
  transform: rotateY(270deg) translateZ(50px);
}
.li5 {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}
.li6 {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
} /*这是正面*/
#mian-tz {
  position: absolute;
  top: 130px;
  left: 42%;
  margin-left: -250px;
  width: 400px;
}
#mian-tz-wf {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  left: 116%;
  top: 8px;
  height: 70px;
  width: 150px;
}
#mian-tz-fs {
  cursor: pointer;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -200px;
  height: 70px;
  width: 150px;
}
#mian-tz-fzz {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  left: 88.5%;
  top: 8px;
  margin-left: -200px;
  height: 70px;
  width: 150px;
}
#mian-tz-ff {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 127%;
  top: 8px;
  margin-left: -200px;
  height: 70px;
  width: 150px;
}
.ulli2 li {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
.ulli2 ul {
  -webkit-transform: translateZ(170px);
  transform: translateZ(170px);
}
.ulli:hover li {
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
}
.ulli:active ul {
  -webkit-transform: translateZ(170px);
  transform: translateZ(170px);
}
/* 分数按钮 之类 的 样式 */
.ul2 {
  height: 70px;
  width: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 100;
  -webkit-transform: rotateX(-8deg) rotateY(8deg) translateZ(215px);
  transform: rotateX(-8deg) rotateY(8deg) translateZ(215px);
}
.li_2 {
  width: inherit;
  height: inherit;
  position: absolute;
  text-align: center;
  font-weight: 700;
  background: rgba(53, 35, 35, 0.15);
  line-height: 65px;
  font-size: 30px;
  color: #000;
  border: 3px rgba(255, 255, 255, 1) solid;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}
.li21 {
  height: 100px;
  width: 150px;
  -webkit-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}
.li22 {
  height: 100px;
  width: 150px;
  -webkit-transform: rotateX(270deg) translateZ(20px);
  transform: rotateX(270deg) translateZ(20px);
}
.li23 {
  /*  left/right  */
  width: 100px;
  height: 70px;
  -webkit-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
.li24 {
  width: 100px;
  height: 70px;
  -webkit-transform: rotateY(270deg) translateZ(50px);
  transform: rotateY(270deg) translateZ(50px);
}
.li25 {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}
.li26 {
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);   font-family: 'Google Sans Text', roboto, helvetica neue, sans-serif; font-weight: 700;
} /*+ve*/
#mian-tz-sz {
  position: absolute;
  left: 58%;
  top: 150px;
  margin-left: -175px;
  width: 350px; /*  sizing  */
  height: 350px;
}
#my_tblr {
  position: absolute;
  top: 480px;
  right: -38%;
}
/* arrow styling */
.ul3 {
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0;
  left: 0px;
  top: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-8deg) rotateY(8deg);
  transform: rotateX(-8deg) rotateY(8deg);
}
.ul3-active {
  -webkit-transform: rotateX(-8deg) rotateY(8deg) translateZ(-100px);
  transform: rotateX(-8deg) rotateY(8deg) translateZ(-100px);
}
.ul3-active li {
  background: rgba(0, 0, 0, 0.25);
  color: #000;
}
.ul3:active {
  -webkit-transform: rotateX(-8deg) rotateY(8deg) translateZ(-100px);
  transform: rotateX(-8deg) rotateY(8deg) translateZ(-100px);
}
.ul3:active li {
  background: rgba(0, 0, 0, 0.25);
  color: #000;
}
.li_3 {
  width: inherit;
  height: inherit;
  position: absolute;
  text-align: center;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  border: 3px rgba(255, 255, 255, 1) solid;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}
.li31 {
  -webkit-transform: rotateX(90deg) translateZ(25px);
  transform: rotateX(90deg) translateZ(25px);
}
.li32 {
  -webkit-transform: rotateX(270deg) translateZ(25px);
  transform: rotateX(270deg) translateZ(25px);
}
.li33 {
  -webkit-transform: rotateY(90deg) translateZ(25px);
  transform: rotateY(90deg) translateZ(25px);
}
.li34 {
  -webkit-transform: rotateY(270deg) translateZ(25px);
  transform: rotateY(270deg) translateZ(25px);
}
.li35 {
  -webkit-transform: translateZ(-25px);
  transform: translateZ(-25px);
}
.li36 {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
} /*这是正面*/
.pos1 {
  left: 0px;
  top: 0px;
  z-index: 4;
} /* 上下左右位置 */
.pos2 {
  left: 0px;
  z-index: 2;
  top: 50px;
}
.pos3 {
  left: -50px;
  top: 50px;
  z-index: 3;
}
.pos4 {
  left: 50px;
  top: 50px;
  z-index: 1;
}
/* how to play */
.ul-wf {
  /* opacity: 0; */
  height: 220px;
  width: 390px;
  position: absolute;
  left: 127%;
  top: 133px;
  -webkit-transform-style: preserve-3d;
  text-indent: 2em;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-8deg) rotateY(8deg) translateZ(-130px);
  transform: rotateX(-8deg) rotateY(8deg) translateZ(-130px);
}
.ul-wf li {
  opacity: 0;
}
.li-wf {
  width: inherit;
  height: inherit;
  position: absolute;
  font-weight: bold;
  font-family: 'Google Sans Text', roboto, helvetica neue, sans-serif;
  background: rgba(53, 35, 35, 0.15);
  font-size: 17px;
  color: #000;
  border: 3px rgba(255, 255, 255, 1) solid;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}
.liwf1 {
  height: 100px;
  -webkit-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}
.liwf2 {
  height: 100px;
  -webkit-transform: rotateX(270deg) translateZ(150px);
  transform: rotateX(270deg) translateZ(150px);
}
.liwf3 {
  /*  左右  */
  width: 100px;
  -webkit-transform: rotateY(90deg) translateZ(340px);
  transform: rotateY(90deg) translateZ(340px);
}
.liwf4 {
  width: 100px;
  -webkit-transform: rotateY(270deg) translateZ(50px);
  transform: rotateY(270deg) translateZ(50px);
}
.liwf5 {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}
.liwf6 {
  padding: 12px;
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
} /*这是正面*/

/* github */

#github {
  position: absolute;
  left: 515px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-8deg) rotateY(8deg);
  transform: rotateX(-8deg) rotateY(8deg);
}
#github:hover {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-8deg) rotateY(188deg);
  transform: rotateX(-8deg) rotateY(188deg);
}
#github img {
  width: 70px;
}
#github > :nth-child(1) {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
}
#github > :nth-child(2) {
  -webkit-transform: rotateX(270deg) translateZ(50px);
  transform: rotateX(270deg) translateZ(50px);
}
#github > :nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(50px);
  transform: rotateY(90deg) translateZ(50px);
}
#github > :nth-child(4) {
  -webkit-transform: rotateY(270deg) translateZ(50px);
  transform: rotateY(270deg) translateZ(50px);
}
#github > :nth-child(5) {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}
#github > :nth-child(6) {
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
}
#github > :nth-child(5),
#github > :nth-child(6) {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
#github .reverse {
  transform: rotateY(180deg);
}
